@mixin hover-effect {
    box-shadow: 2px 2px 50px 0 var(--box-shadow-color);
    transition: 0.4s;
    &:hover{
        box-shadow: 0px 0px 10px 2px var(--main-color);
        transform: scale(1.03);
        
    }
}

@mixin logo-hover {
    &:hover{
        transition: 0.5s;
        transform: rotateZ(360deg);
    }
   
}