[data-theme="dark"] {
    --title-color: #EEEEEE;
    --subtitle-color: #A7A7A7;
    --descr-color: #cccccc;
    --bg-color: #323232;
    --fz16-color: #191919
}
[data-theme="light"] {
    --title-color: #323232;
    --subtitle-color: #4c4c4c;
    --descr-color: #666666;
    --bg-color: #EEEEEE;
    --fz16-color: #191919
}