.projects{
    &-wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        gap: 50px;
        justify-content: center;
        align-content: center;
    }

    &__card{
        display: flex;
        flex-direction: column;
        max-width: 370px;
        border-radius: 22px;
        background: var(--card-bg-color);
        box-shadow: 2px 2px 50px 0px var(--box-shadow-color);
    }
    &__img{
        height: 260px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
    &__descr{
        padding: 25px 30px;
    }
    &__link{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        img{
            width: 25px;
            height: 25px;
        }
        a{
            color: #66bb6a;
            margin-left: 10px;
        }
    }
}
